body {
    color: white;
    background: black;
    font-size: 1.3em;
    margin-left: 25%;

}

div h2 {
    color: white;
    text-align: center;
    text-underline-position: under;
}

h2 {
    text-decoration: underline;
    color: darkturquoise;
}

header {
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: darkturquoise;
}

a:hover {
    color: blueviolet;
    text-shadow: turquoise 1px 1px ;
}

footer {
    border-top: dotted darkturquoise;
    margin-top: 5%;
    margin-left: 0%;
}
