
h1{
    font-family: Montserrat;
    font-weight: 700;
    color: darkturquoise;
    text-align: center;
}

h2{
    font-family: Montserrat;
    font-weight: 700;
    color: darkturquoise;
}
p{

}
p{
    text-align: center;
    font-size: 1.5rem;
}
img{
    
    margin: 0;
}